{% extends 'aplikasi_admin/main.html'%} {% block title %} Data Semua Pegawai{% endblock %} {% block content %}
<body style="background-color:#bff1bf;">
    <div class="container pt-5 pb-5">

        <h4 class="text-center">Data Pegawai</h4>
    
        <div class="d-flex justify-content-end">
            <a href="{% url 'create_pegawai' %}" class="btn btn-success btn-md">Tambahkan Pegawai</a>
        </div>
    
        <table style="background-color:white; border:2px solid black;" class="table table-bordered text-center mt-5">
            <thead>
                <th>No</th>
                <th>Nama Pegawai</th>
                <th>NIP</th>
                <th>Role</th>
                <th>Aksi</th>
            </thead>
    
            <tbody>
                {% for pegawai in data_pegawai %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ pegawai.nama_pegawai }}</td>
                    <td>{{ pegawai.nip_nrk}}</td>
                    <td>{{pegawai.role}}</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'update_pegawai' pegawai.user.id %}" class="btn btn-sm btn-info mr-2 w-100">Edit</a>
    
                            <form action="{% url 'delete_pegawai' pegawai.user.id %}" method="post" class="w-100">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm w-100">
                                Hapus</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>


{% endblock %}