{% extends 'aplikasi_pegawai/main.html'%} {% load static %} {% block title %} Data Semua Barang {% endblock %} {% block content %}
<body style="background-color:#bff1bf;">
    <div class="container pt-5 pb-5">

        <h4 class="text-center">Data Semua Barang</h4>
    
        <div class="d-flex justify-content-end">
    
        </div>
    
        <table style="background-color:white; border:2px solid black;" class="table table-bordered text-center mt-5">
            <thead>
                <th>No</th>
                <th>Kode </th>
                <th>Nama </th>
                <th>Merk</th>
                <th>Stock</th>
                <th>BAST Perolehan</th>
            </thead>
    
            <tbody>
                {% for barang in data_barang%}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ barang.kode_barang }}</td>
                    <td>{{ barang.nama_barang}}</td>
                    <td>{{ barang.merk}}</td>
                    <td>{{barang.stock}}</td>
                    <td><a href="{{ barang.bast_perolehan.url }}" target="_blank" rel="noopener noreferrer">Download</a></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>


{% endblock %}